* {
    outline: dotted 1px black;
}

body {
    width: 960;
    margin:0 auto;
}

ul {
    background: gray;
    list-style-type: none;
    margin:0 auto;
    text-align: center;
    overflow: hidden;
    

}

li {
    background: gray;
    float: left;
    padding: 25px;
    margin-top: 15px;
  }
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }  
  
#logo {
    margin-top: 15px;

}
  
  
header{
    background: gray;
    height: 100px;
    margin:0 auto;
    width:960px;
    
}

header div{
    display: block;
    margin: auto;    
    width: 960px;
}

header img{
    display: inline-block;
   
}

nav{
    float: right;
    color: white;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    width: 700px;
}


main{
    margin: auto;
    width: 960px;
}

#hero_image {

    margin-top: 30px;
    margin-bottom: 30px;

}

#banner_right {

    float: right;

}

#banner_mid {
    margin-left: 30px;
}

#banner_below {
    margin-top: 30px;
    position: relative;
}


h1 {

    display: inline-block;
    float: right;
    font-size: 20px;
    margin-top: 30px;
    margin-left: 20px; 
    position: absolute;
}

p {
    display: inline-block;
    width: 450px;
    height: 320px;
    overflow:scroll;
    float: right;
    position: absolute;
    margin-top: 60px;
    margin-left: 20px;
    
}

button{
    background-color: black;
    color: white;
    display: inline-block;
    height: 25px;
    margin-left: 20px;
    margin-bottom : 30px;
    font-size: 15px;
    transition: 350ms;
    width: 200px;
}

button:hover{
    background-color: red;
}

footer{
    background: gray;
    margin:0 auto;
    height:100px;
    width: 960px;
   }

